<mat-card>
    <mat-card-title>Form</mat-card-title>
    <mat-card-content>
        <form [formGroup]="search" 
        (ngSubmit)="onSearchSubmitted(search)">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Search</mat-label>
                <input matInput type="text" placeholder="Word" formControlName="word" required>
                </mat-form-field>
            </div>
            <div>
                <button type="submit" mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Job's List</mat-card-title>
    <mat-card-content>
         <ng-container *ngIf="listJobs$ | async as list">
      <table mat-table [dataSource]="list" class="mat-elevation-z8">         <!-- Column 1 -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>
        <!-- Column 2 -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> column2 </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'title', 'description']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'description'];"></tr>  
      </table>
    </ng-container>
    </mat-card-content>
</mat-card>